.banner-principal {
  padding: 0;
  position: relative;
}

.banner-principal video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-principal .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-principal svg {
  width: 20%;
  height: fit-content;
  position: absolute;
  top: 10%;
}

.banner-principal h1 {
  padding: 8px;
  text-align: center;
  position: absolute;
  color: var(--branco);
  bottom: 15%;
  transition: 0.3s ease;
}

.produtos-destaque {
  background-color: var(--cinza-claro);
}

.produtos-destaque .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.produtos-destaque h2 {
  text-align: center;
}

.produtos-destaque .produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.depoimentos {
  background: linear-gradient(var(--cinza-claro) 50%, var(--preto) 50%);
  padding: 0;
}

.depoimentos .depoimento {
  background-color: var(--amarelo-primario);
  padding: 40px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mapa {
  background-color: var(--preto);
}

.mapa h2 {
  margin: 0 0 20px 0;
  color: var(--branco);
  text-align: center;
}

.mapa iframe {
  width: 100%;
}

@media (min-width: 48em) {
  .banner-principal h1 {
    bottom: 30%;
  }
}

@media (min-width: 80em) {
  .banner-principal svg {
    width: 15%;
  }
  .banner-principal h1 {
    bottom: 30%;
  }

  .depoimentos .depoimento {
    padding: 64px 72px;
  }
}
