main {
    display: flex;
}

section {
    background-color: var(--cinza-claro);
    width: 100%;
}

#cont-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 64px 72px;
    gap: 40px;
}

#container-produto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 0px 20px;
}

#imagem-produto {
    max-width: 300px;
    border-radius: 40px;

}

#container-info {
    display: grid;
    gap: 16px;
    max-width: 530px;
    width: 100%;
}

#container-info h2 {
    margin-bottom: 24px;
}

#container-secundario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 64px 72px;
    gap: 40px;
    margin: auto;
    align-items: center;
}

#listagem-produtos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    height: 100%;
    padding: 0px 40px;
    width: 100%;
    max-width: 1124px;
}

.card{
    width: 23%;
}