.produto-individual {
    background-color: var(--cinza-claro);
}

#cont-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    gap: 40px;
}

#container-produto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
}

#imagem-produto {
    width: 100%; 
    max-width: 300px;
    border-radius: 40px;

}

#container-info {
    display: grid;
    gap: 16px;
    max-width: 530px;
    width: 100%;
}

#container-secundario {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;
    margin: auto;
    align-items: center;
}

#listagem-produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

@media (min-width: 80em) {
  
    h1 {
      font-size: 40px;
    }
  
    h2 {
      font-size: 32px;
    }
  
    h3 {
      font-size: 22px;
    }
  }

