

#section{
    padding: 0;
    background-color: var(--cinza-claro);
}

#main{
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}

.card-product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    align-items: center;   
    column-gap: 20px;     
    row-gap: 50px;
    margin: auto;    
    padding: 0px 40px;  
    height: 100%;  
}


.divFilter{
    display: flex;
    column-gap: 0.5rem;
    align-items: center; 
    white-space: nowrap;        
}

aside{      
    position: sticky;
    padding: 40px 0px;   
    background-color: var(--branco);  
    height: fit-content;       
    margin-top: 32px;
}

#divFilterTitle{
    display: flex;
    justify-content: center;
    column-gap: 0.5rem;
    align-items: center;     
}

#inputsFilterOptions{
    display: grid;    
    row-gap: 15px;        
    
    padding: 15px 25px;      
}

#inputsFilterOptions h3{   
    margin: 50px 0px 10px 0px;
}

#inputsFilterOptions h3:nth-of-type(n+2){   
    margin-top: 20px;
}

#store{
    display: flex;         
    flex-wrap: wrap;   
    flex-direction: column;    
    justify-content: center;       
    gap: 49px;
    width: 100%;       
    height: auto; 
    
    padding: 72px 0px;   

    box-sizing: border-box;
}

#button-show-more{
    position: absolute;
    left: 50%;
    right: 50%;    
    bottom: 50%;
    bottom: 170px;      
}

#button-show-more button{     
    display: none;
    justify-content: center;
    align-items: center;    

   position: absolute;
  
      
    width: 200px;
    height: 41px;
    padding: 12px;    
    border-radius: 12px;       

    cursor: pointer;    
}



#searchContainer{
    width: 100%;
    display: flex;  
    align-items: center;
    justify-content: end;
    padding: 0px 40px;   
}

#inputSearch {
    
    color: var(--preto);
    width: 100%;
    height: 48px;
    border: 3px solid var(--preto);
    border-radius: 2rem;
    box-sizing: border-box;
    background: var(--branco);
    opacity: 0.2;
    font-size: 18px;
    padding: 0rem 0rem 0rem 1.0rem;    
    margin: auto;
    
}

#lupa{    
    height: 40px;    
    position: absolute;
    margin-right: 20px;
}

#buttonsChangePage{
    width: 40%;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 20px;   
    margin: auto;    
}


    

