body{  
    width: 1280px;
    height: 112.66px;
}

#headerDiv{   
    background-color: black;   
       
}

#page{
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: center;
}

#loja{
    background-color: antiquewhite;
}

header{
    display: flex;
    width: 1280px;
    height: 112.66px;
    background-color: black;    
    text-align: center;
}

footer{
    text-align: center;
}

#img{
    width: 150px;
    height: 150px;
}

.clasProcutos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;   
}

.produtoUnit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 300px;
    background-color: white;
}

.filters{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

.divFilter{
    display: flex;    
}