@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;1,400&display=swap");

:root {
  --amarelo-primario: #ffde59;
  --amarelo-secundario: #ddc04d;
  --cinza-claro: #eeeeee;
  --cinza: #d1d1d1;
  --cinza-escuro: #535353;
  --branco: #fff;
  --preto: #000;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

/* main {
  width: 100vw;
} */

section {
  padding: 40px 0;
}

.container {
  padding: 0 32px;
  width: 100%;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-size: 40px;
  font-weight: 800;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;
}

.btn {
  width: 100%;
  max-width: 320px;
  padding: 12px 24px;
  border-radius: 12px;
  color: var(--preto);
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn-amarelo {
  background-color: var(--amarelo-primario);
}

.btn-amarelo:hover {
  background-color: var(--amarelo-secundario);
}

.btn-cinza {
  background-color: var(--cinza-claro);
}

.btn-cinza:hover {
  background-color: var(--cinza);
}

.btn-preto {
  background-color: var(--preto);
  color: var(--branco);
}

.btn-preto:hover {
  background-color: var(--cinza-escuro);
}

.faixa-amarela {
  width: 100%;
  height: 20px;
  background-color: var(--amarelo-primario);
}

@media (min-width: 80em) {
  section {
    padding: 64px 0;
  }

  .container {
    padding: 0 72px;
    max-width: 80em;
    margin: 0 auto;
  }
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }
}
