@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;1,400&display=swap");

:root {
  --amarelo-primario: #ffde59;
  --amarelo-secundario: #ddc04d;
  --cinza-claro: #eeeeee;
  --cinza: #d1d1d1;
  --cinza-escuro: #535353;
  --branco: #fff;
  --preto: #000;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

nav {
  padding: 20px 0;
  background-color: var(--amarelo-primario);
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.menu-toggle {
  display: block;
  background: none;
}

nav ul {
  display: none;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  padding: 16px 32px;
  list-style: none;
  width: 100%;
  max-height: 500px;
}

nav ul.active {
  display: flex;
  position: fixed;
  left: 0;
  z-index: 3;
  background: var(--amarelo-primario);
}

nav ul li:nth-child(n) {
  padding: 8px;
  border-radius: 8px;
}

nav ul li:nth-child(n):hover {
  background: var(--amarelo-secundario);
}

nav ul li a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--preto);
}

nav ul li a svg {
  height: 20px;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

body {
  width: 100%;
}

section,
footer {
  padding: 40px 0;
}

.container {
  padding: 0 32px;
  width: 100%;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1,
.titulo-grande {
  font-size: 32px;
  font-weight: 800;
}

h2,
.titulo-medio {
  font-size: 24px;
  font-weight: 700;
}

h3,
.titulo-pequeno {
  font-size: 20px;
  font-weight: 700;
}

p,
li,
a {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;
  transition: 0.3s ease;
}

.btn {
  display: block;
  width: 100%;
  max-width: 320px;
  padding: 12px 24px;
  border-radius: 12px;
  color: var(--preto);
  font-size: 14px;
  text-align: center;
  transition: 0.3s ease;
}

.btn-amarelo {
  background-color: var(--amarelo-primario);
}

.btn-amarelo:hover,
.btn-amarelo:active,
.btn-amarelo:focus-visible {
  background-color: var(--amarelo-secundario);
}

.btn-cinza {
  background-color: var(--cinza-claro);
}

.btn-cinza:hover,
.btn-cinza:active,
.btn-cinza:focus-visible {
  background-color: var(--cinza);
}

.btn-preto {
  background-color: var(--preto);
  color: var(--branco);
}

.btn-preto:hover,
.btn-preto:active,
.btn-preto:focus-visible {
  background-color: var(--cinza-escuro);
}

.whatsapp {
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 5;
  transition: 0.2s ease;
}

.whatsapp:hover {
  transform: scale(1.05);
}

.card {
  width: 100%;
  max-width: 260px;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  background-color: var(--branco);
  color: var(--preto);
}

.card:hover {
  transform: scale(1.05);
}

.card span {
  display: none;
}

.card img {
  background-color: var(--branco);
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 12px;
}

.card h3,
.card p,
.card a {
  width: 100%;
  text-align: center;
}

.faixa-amarela {
  width: 100%;
  height: 20px;
  background-color: var(--amarelo-primario);
}

footer {
  background-color: var(--preto);
  color: var(--branco);
}

footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

footer div {
  width: 100%;
}

footer h3 {
  margin-bottom: 16px;
}

footer a {
  color: var(--branco);
}

@media (min-width: 1000px) {
  .menu-toggle {
    display: none;
  }

  .menu-container .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 80em) {
  section,
  footer {
    padding: 64px 0;
  }

  .container {
    padding: 0 72px;
    max-width: 80em;
    margin: 0 auto;
  }

  h1,
  .titulo-grande {
    font-size: 40px;
  }

  h2,
  .titulo-medio {
    font-size: 32px;
  }

  h3,
  .titulo-pequeno {
    font-size: 22px;
  }

  p,
  li,
  a {
    font-size: 18px;
  }

  footer div {
    width: 340px;
  }
}
