.contato {
  background-color: var(--cinza-claro);
}

#FAQ {
  text-align: center;
}

#container-perguntas {
  width: 100%;
  background-color: var(--branco);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  border-radius: 12px;
}

#container-principal {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.classedeperguntas {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 2px solid var(--amarelo-primario);
  padding-bottom: 20px;
}

#container-contato {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding: 40px 0 0 0;
}

form {
  width: 100%;
  background-color: var(--branco);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding: 40px;
  border-radius: 12px;
}

.formulario-identificacao {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}

.formulario-identificacao label {
  width: 117px;
}

.formulario-identificacao textarea {
  width: 100%;
}

.formulario-identificacao input {
  width: 100%;
}