.section {
  background-color: var(--cinza-claro);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.centro {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.carrinho-lista,
#fechar-lista,
#sugestao-produtos {
  padding: 20px;
}

.carrinho-lista {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  background-color: var(--branco);
}

.carrinho-head {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.carrinho-head h1 {
  text-align: center;
}

#link {
  background: none;
  font-size: 16px;
}

#carrinho-itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
  width: 100%;
  height: 100%;
}

#carrinho-vazio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
  width: 100%;
  height: 100%;
}

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  border-bottom: 1px solid var(--amarelo-primario);
  padding-bottom: 20px;
}

.produto-sugerido:last-child,
.card-item:last-child {
  border-bottom: none;
}

.card-remove-info {
  display: none;
}

.btn-quantidade {
  background-color: var(--cinza-claro);
  width: 100%;
  max-width: 65px;
  padding: 6px;
  border-radius: 12px;
  text-align: center;
  border: none;
}

#card-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-item img {
  width: 100%;
  max-width: 145px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.card-item p {
  color: #36c534;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.card-info h2,
.card-info p {
  text-align: center;
}

.card-info h2 {
  margin-bottom: 4px;
}

.btn-danger {
  background: none;
}

/* button.link {
  background: none;
  border: none;
  font-size: 20px;
} */

aside {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#fechar-lista {
  width: 100%;
  height: 100%;
  background: var(--branco);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#fechar-lista a {
  margin: auto;
}

#fechar-lista p {
  text-align: center;
}

#sugestao-produtos {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 40px;
  width: 100%;
  height: 100%;
  background: var(--branco);
  border-radius: 12px;
}

#sugestao-produtos h2 {
  text-align: center;
}

.produtos-listados {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.produto-sugerido {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-bottom: 1px solid var(--amarelo-primario);
  padding-bottom: 20px;
  transition: 0.3s ease;
}

.produto-info h3 {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}

.produto-sugerido a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  color: var(--preto);
}

.produto-sugerido img {
  width: 100px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.produto-sugerido h4 {
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  padding-bottom: 10px;
}

.produto-sugerido:hover {
  transform: scale(1.05);
}

@media (min-width: 48em) {
  .centro {
    flex-direction: row;
  }

  .carrinho-lista,
  #fechar-lista,
  #sugestao-produtos {
    padding: 40px;
  }

  aside {
    width: 480px;
  }

  .carrinho-head {
    display: flex;
    align-items: start;
  }

  /* #produto-sugestao h3 {
    text-align: center;
  } */

  .produto-sugerido a {
    flex-direction: row;
  }
}

@media (min-width: 80em) {
  .card-item {
    flex-direction: row;
  }

  .card-info {
    flex-direction: row;
  }

  .card-info h2,
  .card-info p {
    text-align: left;
  }
}
