.carrinho-lista {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    padding: 40px;
    background-color: var(--branco);
}
.carrinho-head {
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    flex-direction: column;
}
.section {
    background-color: var(--cinza-claro);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.centro {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;

    margin: 72px;


}

.coluna-direita {
    display: inline-block;
    flex-direction: column;
    align-items: flex-end;
    float: right;

    padding: 0px;
    gap: 40px;

    width: 225px;
    height: 737px;
}

.fechar-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 21px;

    width: 235px;
    height: 121px;

    background: #FFFFFF;
    border-radius: 12px;

}

.sugestao-produtos {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 20px;
    gap: 40px;
    margin-top: 30px;


    width: 235px;
    height: 576px;

    background: #FFFFFF;
    border-radius: 12px;
}

.carrinho-itens {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 20px;

    width: 100%;
    height: 100%;
}

.imagem-produto {
    height: 145px;
    width: 145px;
    left: 19px;
    top: 10.340667724609375px;
    border-radius: 37.14285659790039px;
}

.produto {
    width: 100%;
    display: flex;
    margin-top: 10px;
    
}

.info-produto {
    margin-left: 100px;
    width: 100%;
}

.info-produto-btn {
    display: flex;
    flex-direction: row;
}
