.banner-principal {
  padding: 0;
  position: relative;
  width: 100%;
  height: 650px;
}

.banner-principal video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-principal .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-principal svg {
  position: absolute;
  top: 32px;
}

.banner-principal h1 {
  margin: 16px;
  text-align: center;
  position: absolute;
  color: var(--branco);
  bottom: 120px;
}

.produtos-destaque,
.servicos-destaque {
  background-color: var(--cinza-claro);
}

.produtos-destaque .container,
.servicos-destaque .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.produtos-destaque h2,
.servicos-destaque h2 {
  text-align: center;
}

.produtos-destaque .produtos,
.servicos-destaque .servicos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.depoimentos {
  background: linear-gradient(var(--cinza-claro) 50%, var(--preto) 50%);
  padding: 0;
}

.depoimentos .depoimento {
  background-color: var(--amarelo-primario);
  padding: 40px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.depoimentos .depoimento p {
  font-style: italic;
}

.mapa {
  background-color: var(--preto);
}

.mapa h2 {
  margin: 0 0 20px 0;
  color: var(--branco);
  text-align: center;
}

.mapa iframe {
  width: 100%;
}

@media (min-width: 80em) {
  .depoimentos .depoimento {
    padding: 64px 72px;
  }
}
