.sobre {
    background-color: var(--cinza-claro);
    padding: 0 0 40px 0;
}

.sobre .banner1 {
    height: 200px;
    width: 100%;
}

.sobre .banner1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sobre .container .bloco1,
.sobre .container .bloco2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 0;
}

.sobre .container img {
    width: 100%;
    max-width: 450px;
    border-radius: 12px;
}

.sobre .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
    align-items: center;
}

.sobre .container a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto
}

@media (min-width: 80em) {
    .sobre {
        padding: 0 0 64px 0;
    }

    .sobre .container .bloco1, 
    .sobre .container .bloco2 {
        flex-direction: row;
    }

    .sobre .galeria img {
        width: 365px;
    }
}